html{
    overflow-x: hidden;
}

body{
    margin: 0 auto;
}

.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #de425b;
}

.header-img{
    display: block;
    background-image: url(../img/coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

.info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

/************Navigation styles*/
.navigation{
    align-self: flex-end;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul{
    display: grid;
    grid-template-columns: 6fr 6fr;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

li {
    display: inline-block;
    list-style-type: none;
    padding: 2rem 0;
    border: 1px solid #f1f1f1;
    width: 100%;
    text-align: center;
}

li a{
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

/*******************Heading styles*/
.main-heading, 
.title{
    color: #f1f1f1;
    font-family: 'Noto Sans TC', sans-serif;
    margin-left: 1rem;
    width: 100%;
}

.main-heading{
    align-self:center;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 0;
}

.title{
    align-self: center;
    font-size: 1.5rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

/*****************Icon styles*/

/***************Media Queries*/
@media screen and (min-width: 768px) {
    .header{
        display: grid;
        grid-template-rows: 12fr;
    }


    ul{
        grid-template-columns: 3fr 3fr 3fr 3fr;
        width: 100%;
    }

    li{
        display: inline-block;
        border: 1px solid #f1f1f1;
        padding: 2rem 0;
        width: 100%;
        margin: 0;
    }

    .title{
        font-size: 2rem;
    }
}

@media screen and (min-width: 1025px) {
    .header{
        grid-template-columns: 4fr 8fr;
    }

    .header-img{
        height: 100%;
    }

}