html{
    overflow-x: hidden;
}

body{
    max-width: 90%;
    margin: 0 auto;
}

.header{
    background-image: url("../img/apple-cellphone-colors.jpg");
    background-position: fixed;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}
/************Navigation styles*/
nav{
    align-self: flex-end;
    width: 100%;
}

ul{
    margin: 0 auto;
    width: 80%;
}

li {
    list-style-type: none;
    padding: 2rem;
}

li a{
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.5rem;
}

/*******************Heading styles*/
h1{
    font-size: 3rem;
    width: 100%;
}

h2{
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
}

h3{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}

/******************Section styles*/
.container{
    padding: 1rem 0;
}

/**************About Section*/
.about-container{
    margin: 0 auto;
}

.details{
    font-size: 1.25rem;
    margin: 0 auto;
    max-width: 90%;
    padding: 2rem 1rem;
}

/**************Project Section*/
.project-container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
}

.project{
    display: grid;
    padding: 2rem 1rem 2rem 0.5rem;
}

.img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.monkees-img{
    background-image: url("../img/monkees.png");
}

.cereal-img{
    background-image: url("../img/cereal.png");
}

.recipe-img{
    background-image: url("../img/recipe.png");
}

.unicorn-img{
    background-image: url("../img/unicorn.png");
}

.project-paragraph{
    font-size: 1.2rem;
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.footer{
    height: 3rem;
}

/***************Media Queries*/
@media screen and (min-width: 768px) {
    .header{
        flex-direction: row;
    }

    li{
        display: inline-block;
        margin-left: 1rem;
        width: 15%;
    }

    .project-container{
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 6fr 6fr;
    }

    .project{
        padding-right: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .about-container{
        display: grid;
        grid-template-columns: 4fr 8fr;
    }
    
    .project-container{
        grid-template-columns: 3fr 3fr 3fr 3fr;
    }
}