html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
}

/*****************Navigation Styles*/
.navigation{
    max-width: 100%;
}

.navbar{
    background: rgba(50, 50, 50, 0.3);
    margin-bottom: 4rem;
}

.navbar-toggler .navbar-toggler-icon{
    color: #f1f1f1;
}

.navbar-nav .nav-item .nav-link{
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 800;
}

/*******************Heading Styles*/
.main-heading{
    color: #f1f1f1;
    font-family: 'Lobster', cursive;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 4.5rem;
}

h2.main-heading{
    font-family: 'Oswald', sans-serif;
    font-size: 1.75rem;
}

h2.projects,
h3.projects{
    color: #b64963;
    background: none;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

h3{
    color: #b64963;
    font-size: 1.5rem;
    font-family: 'Anton', sans-serif;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}

.about-div h3{
    color: #263656;
}

/**********************Header Styles*/

.header{
    background: url(../img/background-circuit.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    max-width: 100%;
}

.pic{
    background: url(../img/coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    height: 200px;
    width: 200px;    
}

/*********************Section Styles*/
.container{
    background: #f1f1f1;
    width: 100%;
    margin: 25px auto;
    padding: 5rem 0;
}

/*********************About Section*/
.about-div{
    color: #263656;
    display: grid;
    grid-template-columns: 12fr;
    margin: 0 auto;
    padding: 0;
    width: 95%;
}

.details{
    font-family: 'Lobster', cursive;
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin: 0 auto;
    max-width: 90%;
    padding: 2rem 1rem;
    word-spacing: 4px;
}

/*********************Project Section*/

.project-container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
}

.project{
    display: grid;
    padding: .5rem 1rem 2rem 2rem;
    margin: .5rem;
}

.img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.monkees-img{
    background-image: url("../img/monkees.png");
}

.cereal-img{
    background-image: url("../img/cereal.png");
}

.recipe-img{
    background-image: url("../img/recipe.png");
}

.unicorn-img{
    background-image: url("../img/unicorn.png");
}

.project-paragraph{
    font-size: 1.2rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.btn{
    color: #f2f1f1;
    display: block;
    font-size: 20px;
    padding: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

a{
    text-decoration: none;
}

.btn-code{
    background-color: #b6496c;
}

.btn-live{
    background-color: #263656;
}

/**************************Icon Styles*/

.fab{
    display: inline;
    font-size: 4rem;
}

.fa-css3-alt{
    color: #1f76c2;
}

.fa-html5{
    color: #e34f26;
}

.fa-js-square{
    color: #f7df1e;
}

.fa-python{
    color: #4584b6;
}


.skills-div{
    display: inline-grid;
    grid-template-columns: 6fr 6fr;
    font-size: 2rem;
    margin: 2rem;
    padding: 1rem;
}

.skill{
    color: #003f5c;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
    padding: 4%;
    text-align: center;
    width: 100px;
}

/*********************Media Queries*/

@media screen and (min-width: 768px){
    .main-heading{
        font-size: 4rem;
    }
    
    h2.main-heading{
        font-size: 2.5rem;
    }

    .navbar{
        background: rgba(50, 50, 50, 0.3);
        margin-bottom: 4rem;
    }

    .navbar-nav{
        margin: 0 auto;
        width: 90%;
    }

    .navbar-nav li{
        width: 100%;
    }

    .navbar-nav .nav-item .nav-link{
        color: #f1f1f1;
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .about-div{
        background: #263656;
        color: #f2f1f1;
        margin: 2rem auto;
        width: 75%;
    }

    .about-div h3{
        color: #f2f1f1;
    }

    .project-container{
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 6fr 6fr;
    }

    .skills-div{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    }

    .skill{
        margin: 0 20px;
    }
}

@media screen and (min-width: 992px){
    .about-div{
        font-size: 2rem;
        width: 40%;
    }

    .project-container{
        grid-template-columns: 3fr 3fr 3fr 3fr;
        align-content: center;
        justify-content: center;
    }

    .fab{
        font-size: 6rem;
    }

    .skill{
        margin: 30px;
        width: 90%;
    }
}